<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pi Radio Remote</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <h1>Pi Radio Remote</h1>
    <iframe name="hidden_iframe" style="display:none;"></iframe>
    <form action="/play" method="post" target="hidden_iframe">
        <label for="url">Stream URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Play</button>
    </form>
    <form action="/pause" method="post" target="hidden_iframe">
        <button type="submit">Pause/Resume</button>
    </form>
    <form action="/stop" method="post" target="hidden_iframe">
        <button type="submit">Stop</button>
    </form>

    <h2>Now Playing:</h2>
    <p id="station-name">Station: Unknown</p>
    <p id="genre">Genre: Unknown</p>
    <p id="track-title">Track: Unknown</p>
    <p id="station-url">URL: Unknown</p>

    <h2>Saved Stations</h2>
    <table id="station-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be populated by JavaScript -->
        </tbody>
    </table>
</body>

</html>
